.wrapper {
  margin-left: auto;
  margin-right: auto;
  /* max-width: 800px; */
}

.container {
  box-shadow: var(--containerShadow);
  padding: 28px 22px;
}

.buttonControls {
  display: flex;
  justify-content: space-between;
  margin: 36px 0;
}

.users {
  border: var(--baseBorder);
  list-style-type: none;
}

.user {
  align-items: center;
  border-bottom: var(--baseBorder);
  display: flex;
  padding: 1rem;
}

.user:hover {
  background-color: var(--primaryLightColor);
}

.user:last-child {
  border-bottom: none;
}

.subHeader {
  color: var(--HonestoBlackPearl33);
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 1;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.headerWrapper {
  display: flex;
}

.userAvatar {
  margin: 0 0 auto auto;
}

.questionsCompleted {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.rating {
  margin-top: 5.8125rem;
}

.textarea {
  border: 1px solid var(--HonestoGray);
  border-radius: 3px;
  height: 232px;
  padding: 1.25rem;
  resize: none;
  width: 100%;
}

.textarea::placeholder {
  color: var(--HonestoBlackPearl33);
  padding: 1.25rem;
}

@media screen and (max-width: 800px) {
  .buttonControls {
    flex-direction: column;
    justify-content: space-around;
    height: 160px;
  }
}
