.feedbackContainer {
  box-shadow: var(--containerShadow);
  display: grid;
  grid-template-columns: 1fr 2fr;
  line-height: 1.1875;
}

.feedbackContainer,
p {
  font-size: 0.875rem;
  font-weight: var(--fw-semibold);
  word-break: break-word;
}

.questionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}

.users,
.feedback {
  list-style-type: none;
}

.users {
  border-right: var(--baseBorder);
}

.users li:first-child {
  padding: 1rem;
}

.userBtn {
  padding: 1rem;
  width: 100%;
}

.users li:not(.users li:first-child):hover {
  background: var(--secondaryLightColor);
}

.userColHeader {
  color: var(--HonestoBlackPearl66);
  font-weight: 700;
  font-size: 0.75;
  line-height: 1;
  letter-spacing: 0.15em;
  margin: 0;
  text-transform: uppercase;
}

.users h3,
.feedback h2 {
  margin: 0;
}

.feedback li {
  padding: 1.5rem;
}

.users li,
.feedback li {
  border-bottom: var(--baseBorder);
}

.feedback li:first-child {
  border-bottom: none;
}

.feedback li:last-child {
  border-bottom: none;
}

.userSelected {
  background-color: var(--lightGrey);
}

.feedbackHeader {
  font-weight: var(--fw-semibold);
  font-size: 1.375rem;
  line-height: 1.875;
  color: #031323;
}

@media screen and (max-width: 800px) {
  .questionContainer {
    grid-gap: 2rem;
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
  }

  .userAvatar {
    flex-direction: column;
  }
}
